# Python Basics

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/febse/econ2025-de/blob/main/01-Python/01-01-Basics.ipynb)

Github Classroom Link: [https://classroom.github.com/a/NF7qSSTn](https://classroom.github.com/a/NF7qSSTn)

## Jupyter Notebooks in VS Code {#jupyter-notebooks-in-vs-code}

Häufig verwendete Tastenkombinationen

- `Enter`: Bearbeitungsmodus einschalten
- `Esc`: Kommando-Modus einschalten

Shortcuts für den Kommando-Modus (Edit Mode)

- `A` : Eine Zelle oberhalb der aktuellen Zelle einfügen
- `B` : Eine Zelle unterhalb der aktuellen Zelle einfügen
- `Alt + ↑`: Zelle nach oben verschieben
- `Alt + ↓`: Zelle nach unten verschieben
- `Alt + Shift + ↑`: Zelle nach oben kopieren (Fokus bleibt auf der aktuellen Zelle)
- `Alt + Shift + ↓`: Zelle nach unten kopieren (der Fokus wechselt zur nächsten Zelle)
- `dd` : Zelle löschen
- `z` : Die letzte Änderung rückgängig machen
- `M` : Die Zelle in eine Markdown-Zelle umwandeln
- `Y`: Die Zelle in eine Code-Zelle umwandeln

Shortcuts für den Edit Modus
- `Alt + Shift + ↑`:  Die aktuelle Zeile nach oben kopieren (Fokus bleibt auf der aktuellen Zeile)
- `Alt + Shift + ↓`: Die aktuelle Zeile nach unten kopieren (Fokus verlagert sich zur nächsten Zeile)
- `Ctrl+Enter/Shift+Enter`: Markierte Zelle ausführen und Fokus auf die nächste Zelle setzen

Shortcuts für beide Modi

- `Ctrl+Enter` : Die aktuelle Zelle ausführen (Fokus bleibt auf der aktuellen Zelle)
- `Shift+Enter` : Die aktuelle Zelle ausführen und Fokus auf die nächste Zelle setzen
- `Alt+Enter` : Die aktuelle Zelle ausführen und eine neue Zelle einfügen


## Arithmetische Operationen

In [1]:
# Addition
1 + 1

2

Die Varianz von Y ist größer als die Varianz von X. Das bedeutet, daß die Werte, die Y produziert, weiter von ihrem Erwartungswert entfernt sein werden als die Werte, die X produziert.

In [2]:
# Division
1 / 2

0.5

In [3]:
# Multiplikation
2 * 3

6

In [4]:
# Potenz
2.3 ** 8

783.1098528099996

In [5]:
# Typ
type(1)

int

In [6]:
type(1.0)

float

### Zuweisung (Assignment)

Wir können Werte Variablen zuweisen. In Python verwenden wir dazu das Gleichheitszeichen `=`. Der Wert auf der rechten Seite des Gleichheitszeichens wird der Variablen auf der linken Seite zugewiesen. Anders als in der Mathematik, wo die Gleichung `x = 3` bedeutet, dass `x` gleich `3` ist, bedeutet die Zuweisung `x = 3` in Python, dass der Wert `3` in der Variablen `x` gespeichert wird. Python speichert dann den Wert `3` im Speicher des Rechners und weist ihm den Namen `x` zu.

In [7]:
x = 1
y = 5

In [8]:
x + y

6

In [9]:
type(x)

int

### Logische Werte (Booleans)

In Python gibt es auch logische Werte (Booleans). Diese können nur zwei Werte annehmen: `True` und `False`.
In den meisten Fällen werden wir diese Werte verwenden, um Bedingungen zu formulieren.

In [21]:
1 > 2

False

In [22]:
1 < 3

True

In [23]:
2 == 2

True

In [24]:
"hallo" == "hallo"

True

In [25]:
"hallo" == "Hallo"

False

## Print

In Jupyter Notebooks wird der letzte Wert in einer Zelle automatisch ausgegeben. Wenn wir jedoch den Wert einer Variablen oder einen anderen Wert ausgeben möchten, können wir die Funktion `print()` verwenden.

In [ ]:
print("Hallo Welt")
print("Hallo Welt, heute ist Tag Nummer", 1)

x = 5

print("Hallo Welt, heute ist Tag Nummer", x)

Hallo Welt
Hallo Welt, heute ist Tag Nummer 1
Hallo Welt, heute ist Tag Nummer 2 .

## Listen und Tupel

In vielen Fällen werden wir nicht nur einzelne Werte, sondern mehrere Werte zusammen verwenden wollen.
Als Beispiel nehmen wir eine Liste mit monatlichem Stromverbrauch eines Unternehmens (für 12 Monate in EUR).

In [26]:
stromverbrauch = [100, 120, 80, 90, 110, 100, 120, 80, 90.12, 110, 100, 120.22]

Wir können auf einzelne Elemente einer Liste zugreifen, indem wir den Index des Elements in eckigen Klammern hinter den Namen der Liste schreiben. Wie in den meisten Programmiersprachen **beginnt der Index bei 0**.

In [27]:
stromverbrauch[0]

100

In [28]:
stromverbrauch[1]

120

In [29]:
stromverbrauch[11]

120.22

Versuchen wir auf ein Element zuzugreifen, das nicht existiert, erhalten wir einen Fehler.

In [30]:
# stromverbrauch[12]

Die Länge einer Liste können wir mit der Funktion `len` bestimmen. Diese gibt uns die Anzahl der Elemente in der Liste zurück.

In [31]:
len(stromverbrauch)

12

Wir können auch auf die letzten Elemente einer Liste zugreifen, indem wir negative Indizes verwenden.

In [32]:
stromverbrauch[len(stromverbrauch) - 1]

120.22

In [33]:
stromverbrauch[-1]

120.22

Wir können auch auf mehrere Elemente einer Liste zugreifen, indem wir den Index des ersten Elements und den Index des letzten Elements in eckigen Klammern hinter den Namen der Liste schreiben. Der Index des letzten Elements ist dabei exklusiv.

In [34]:
stromverbrauch[0:3]

[100, 120, 80]

Das ist das gleiche wie

In [35]:
stromverbrauch[:3]

[100, 120, 80]

In [36]:
stromverbrauch[0:3] == stromverbrauch[:3]

True

In [37]:
stromverbrauch[3:6]

[90, 110, 100]

Wir können einzelne Elemente einer Liste auch verändern.

In [38]:
stromverbrauch[0] = 1
stromverbrauch

[1, 120, 80, 90, 110, 100, 120, 80, 90.12, 110, 100, 120.22]

Wir können auch mehrere Elemente einer Liste auf einmal verändern.

In [39]:
stromverbrauch[0:3] = [5, 5, 8]
stromverbrauch

[5, 5, 8, 90, 110, 100, 120, 80, 90.12, 110, 100, 120.22]

Tuple sind wie Listen, nur dass sie nicht verändert werden können. Wir können sie mit runden Klammern erstellen. Im folgenden Beispiel erstellen wir ein Tuple mit den Monatsnamen. Dann versuchen wir, das erste Element zu verändern. Das funktioniert nicht.

In [40]:
monatsnamen = ("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli",
               "August", "September", "Oktober", "November", "Dezember")

In [41]:
# monatsnamen[0] = "Jänner"

### Funktionen

Sehr häufig möchten wir ein und dieselbe Operation mit verschiedenen Daten (Argumenten) ausführen, ohne dass wir den Code jedes Mal neu schreiben zu müssen.
Dafür können wir Funktionen verwenden. In Python definieren wir eine Funktion mit dem Schlüsselwort `def` gefolgt von dem Namen der Funktion und den Argumenten in runden Klammern. Der Funktionskörper wird eingerückt. Mit dem Schlüsselwort `return` geben wir das Ergebnis der Funktion zurück.


Als Beispiel nehmen wir eine Funktion, die einen numerischen Wert als Argument nimmt, es mit 1.955 multipliziert und das Ergebnis zurückgibt. Die Funktion nennen
wir `eur_to_bgn`.

In [60]:
def eur_to_bgn(x):
    return 1.955 * x

eur_to_bgn(100)

195.5

Funktionen können auch mehrere Argumente haben. Die Argumente werden durch Kommas getrennt.

In [61]:
def my_simple_sum(x, y):
    return x + y

my_simple_sum(1, 2)

3

Schreiben Sie eine Funktion `calculate_vat`, die einen numerischen Wert als Argument nimmt und den Mehrwertsteuerbetrag (20%) zurückgibt.

Schreiben Sie eine Funktion, die zwei numerische Argumente annimmt `amounts` und `vat_rate`. Das erste Argument ist eine Liste von numerischen Werten (Betrag ohne Mehrwertsteuer). Das zweite Argument ist der Mehrwertsteuersatz in Prozent. Die Funktion soll eine Liste von numerischen Werten (Betrag mit Mehrwertsteuer) zurückgeben.

## Klassen und Objekte

Bisher haben wir verschiedene Datentypen gesehen, drei verschiedene Datenstrukturen (Listen, Tupel und Dictionaries) und Funktionen gesehen. In Python gibt es auch Objekte, die Daten und Funktionen zusammenbinden. Funktionen, die zu einem Objekt gehören, nennen wir Methoden. Objekte werden aus Klassen erstellt. Klassen sind wie Baupläne für Objekte.
In den Übungen werden wir keine Klassen selber definieren, allerdings werden wir Objekte wie DataFrame, Series, etc. verwenden, die aus Klassen erstellt wurden. Deswegen ist es wichtig, dass Sie wissen, wie Sie mit Objekten umgehen können.

Zuerst definieren wir eine Klasse `Person`. Diese hat zwei Attribute: `name` und `age`. Die Klasse erlaubt uns, ein Objekt zu erstellen, das diese beiden Attribute hat. Wir können auch eine Methode `say_hello` definieren, die uns erlaubt, "Hallo" und den Namen der Person auszugeben. Alle Methoden, wie z.B. `say_hello` erhalten das Argument `self`, das das Objekt selbst ist. Dadurch können wir über Methoden auf die Eigenschaften des Objekts zugreifen.

In [63]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def say_hello(self):
        print("Hi, my name is", self.name, "and I am", self.age, "years old.")

In [64]:
ivan = Person("Ivan", 20)
betty = Person("Betty", 25)

print(ivan.name)
print(ivan.age)

Ivan
20

In [65]:
ivan.say_hello()

Hi, my name is Ivan and I am 20 years old.

In [66]:
betty.say_hello()

Hi, my name is Betty and I am 25 years old.